<?xml version='1.0' encoding='utf-8'?>
<widget id="com.easierbycode.game2019es7" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>2019-es7</name>
    <description>Street Fighter browser game</description>
    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />

    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="BackgroundColor" value="#ff000000" />
    <preference name="KeepRunning" value="true" />

    <!-- iOS: disable swipe-back/forward navigation gesture -->
    <preference name="AllowBackForwardNavigationGestures" value="false" />
    <!-- iOS: suppress the bounce/overscroll effect at viewport edges -->
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="android-compileSdkVersion" value="35" />
    <!-- Pin appcompat to 1.6.1 to avoid AAPT2 resource parsing failures seen with 1.7.0 in CI -->
    <preference name="AndroidXAppCompatVersion" value="1.6.1" />

    <!-- Immersive sticky mode is applied via hooks/after_prepare.js (patches MainActivity.kt) -->
    <hook type="after_prepare" src="hooks/after_prepare.js" />

    <platform name="android">
        <preference name="FullScreen" value="true" />
        <preference name="Orientation" value="portrait" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <!-- Handle config changes in-app so orientation change doesn't restart the activity -->
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
            <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                      android:screenOrientation="portrait"
                      android:resizeableActivity="false"
                      xmlns:android="http://schemas.android.com/apk/res/android" />
        </edit-config>
    </platform>

    <platform name="ios">
        <preference name="Orientation" value="portrait" />
        <preference name="AllowBackForwardNavigationGestures" value="false" />
        <preference name="DisallowOverscroll" value="true" />
    </platform>

    <!-- Plugins removed: cordova-plugin-statusbar and cordova-plugin-vibration
         are incompatible with cordova-android 13+ (Kotlin-based MainActivity).
         Status bar hiding is handled natively via hooks/after_prepare.js.
         Vibration is available via the Web Vibration API (navigator.vibrate). -->
</widget>
