<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-apk-forge"
        version="1.0.0">

    <name>APK Forge</name>
    <description>On-device APK builder. Clones a bundled shell APK, swaps assets/www/, patches the package id and display name, re-signs with v1+v2, and hands the result to the system installer.</description>

    <js-module src="www/apk-forge.js" name="ApkForge">
        <clobbers target="ApkForge" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ApkForge">
                <param name="android-package" value="com.easierbycode.apkforge.ApkForgePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"
                             xmlns:android="http://schemas.android.com/apk/res/android" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider android:name="com.easierbycode.apkforge.ForgeFileProvider"
                      android:authorities="${applicationId}.apkforge.fileprovider"
                      android:exported="false"
                      android:grantUriPermissions="true"
                      xmlns:android="http://schemas.android.com/apk/res/android">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                           android:resource="@xml/apk_forge_paths"
                           xmlns:android="http://schemas.android.com/apk/res/android" />
            </provider>
        </config-file>

        <!-- Diagnostic Application class: installs an UncaughtExceptionHandler in
             attachBaseContext (i.e. before any ContentProvider.attachInfo runs)
             so launch-time crashes are recorded to a file the user can read on
             the device without ADB. -->
        <edit-config file="AndroidManifest.xml"
                     target="/manifest/application"
                     mode="merge">
            <application android:name="com.easierbycode.apkforge.ForgeApplication"
                         xmlns:android="http://schemas.android.com/apk/res/android" />
        </edit-config>

        <resource-file src="res/xml/apk_forge_paths.xml"
                       target="res/xml/apk_forge_paths.xml" />

        <source-file src="src/android/ApkForgePlugin.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/ForgeApplication.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/ForgeFileProvider.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/ApkBuilder.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/AxmlPatcher.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/ArscPatcher.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/IconRecolor.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/Signer.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/Installer.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />
        <source-file src="src/android/ZipRewriter.kt"
                     target-dir="app/src/main/java/com/easierbycode/apkforge" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
